<form method="get" action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="Your question?">
  <input type="submit" value="Go on!">
</form>

